html {
    font-size: 14px;
}

h1 {
    font-size: 1.8rem;
}

a {text-decoration: none; color:black;}
a:hover {text-decoration: none; color:black;}
.row {
    padding:0;
    margin:0;
}

.word-block {
    display:inline-block;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:100%;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}


.single-line {
    display:inline-block;
    margin-left: 10px;
    padding-left: 5px;
    border: 1px solid #888;
    background-color: white;
}

.single-line[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

.outer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}


.header {
    border-bottom: 1px solid #ccc;
    
}


.logo-box, .user-box {
    display:flex;
    justify-content: center;
    padding: 10px 0px;
}


.logo-box img {
    align-self: center;
    width:150px;
}

.user-box {
    align-items: center;
}

.user-span {
    display: block;
}


.side-nav {
    position: relative;
    height:auto;
    text-align: center;
    background-color: #eee;
}


.side-nav-menu {
    margin-top: 60px;
    text-align: center;
}

.side-nav-menu a {
    display: block;
}


.side-nav-menu a:not(:last-child) li::after {
    content: '';
    display: block;
    width: 60%;
    margin: 20px auto;
    height:2px;
    background-color:#ccc;
}
/* .side-nav-menu a:last-child {
    border-top: 1px solid #bbb;
} */



.side-nav-item {
    display: inline-block;
    width:100%;
    font-size : 1.8rem;
    line-height: 1.5;
}


.main-box {
    padding-top:20px;
    height:auto;
}

@media screen and (max-width: 1440px) {
    .outer-container {
        width:100%;
    }
}


@media screen and (max-width: 900px) {
    .logo-box {
        padding:10px;
    }
    .logo-box img {
        width:100%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .side-nav-menu {
        margin:10px 0px;
    }

    .side-nav-item {
        line-height: 1;
    }
}