.help-title {
    display: flex;
    align-items: flex-end;
    padding:0;
    border-bottom: 2px solid #acacac; 
}

.help-title h1, .help-title ul {
    display: inline-block;
}

.help-title ul {
    margin-left: 15px;
}

.help-title ul li {
    float: left;
    margin-bottom: -5px;
}


.help-title ul li:not(:last-child)::after {
    float: right;
    content: '';
    width: 1px;
    height: 12px;
    margin: 7px 10px 0 10px;
    background: #989898;
}

.help-serch-box {
    clear: both;
    display:block;
    margin-left:auto;
    margin-bottom: 5px;
}

.help-select {
    height:30px;
}


.help-table-title{
    border-bottom: 2px solid #ccc;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px 0px;
}


.help-table-content {
    border-bottom: 1px solid #eee;
    padding: 20px 0px;
}

.help-table-content:last-child {
    border-bottom: 2px solid #acacac;
}


.help-table-l {
    display:flex;
    align-items:center; 
}


.preface {
    display:block;
    font-size: 0.7rem;
}

.help-category::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 10px;
    margin: 0px 5px -1px 7px;
    background: #888;
}

.help-num {
    color:#888;
}

.help-content-title {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
}

.help-table-inner {
    display:flex;
    justify-content: center;
}


.help-content-span {
    color:#888;
    align-self:center;
}

.help-page-box {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.help-page-list {
    margin: 0 auto;
}

.help-page-list > li {
    display: inline-block;
    width: 50px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

.help-page-list img {
    width: 30px;
}