[contenteditable]:focus {
    outline: 0px solid transparent;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:100%;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

.notice-title {
    display: flex;
    align-items: flex-end;
    padding:0;
    border-bottom: 2px solid #acacac;
    
    
}

.notice-title h1, .notice-title ul {
    display: inline-block;
}

.notice-title ul {
    margin-left: 15px;
}

.notice-title ul li {
    float: left;
    margin-bottom: -5px;
}


.notice-title ul li:not(:last-child)::after {
    float: right;
    content: '';
    width: 1px;
    height: 12px;
    margin: 7px 10px 0 10px;
    background: #989898;
}

.notice-confirm-box {
    clear: both;
    display:none;
    margin-left:auto;
    margin-bottom: 15px;
}

.notice-btn {
    border-radius: 5px;
    margin-bottom: 5px;
    padding:10px 15px;
    color:black;
    font-weight: bold;
    background-color:#eee;
}

.notice-mod-btn {
    display:block;
    margin-left: auto;
}


.notice-table-title{
    border-bottom: 2px solid #ccc;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px 0px;
}


.notice-table-content {
    border-bottom: 1px solid #eee;
    padding: 20px 0px;
}

.notice-table-content:last-child {
    border-bottom: 2px solid #acacac;
}


.notice-table-l {
    display:flex;
    align-items:center; 
}


.notice-mod-chk {
    display:none;
    float:left;
    margin-right: 15px;
}

.preface {
    display:block;
    font-size: 0.7rem;
}

.notice-category::after {
    display: inline-block;
    content: '';
    width: 1px;
    height: 10px;
    margin: 0px 5px -1px 7px;
    background: #888;
}

.notice-num {
    color:#888;
}

.content-title {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
}

.notice-date {
    display:flex;
    justify-content: center;
}

.date-span {
    color:#888;
    align-self:center;
}


.notice-page-box {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.notice-page-list {
    margin: 0 auto;
}

.notice-page-list > li {
    display: inline-block;
    width: 50px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

.notice-page-list img {
    width: 30px;
}


.notice-write-btn {
    display: inline-block;
    position: absolute;
    border-radius: 5px;
    right:0;
    padding: 10px 15px;
    color:black;
    font-weight: bold;
    background-color:#eee;
}

.notice-serch-box-wrap {
    display:flex;
    justify-content: center;
}

.notice-serch-box {
    display: flex;
}

.search-select-box {
    padding:0 10px;
}

.search-input {
    margin-left:5px;
    width:250px;
}
