.notice-write-title {
    display: flex;
    align-items: flex-end;
    padding:0;
    border-bottom: 2px solid #acacac;
    
}

.notice-write-box {
    padding:0;
    border: 1px solid #eee;
}


.notice-write-title-box {
    display:flex;
    align-items:center;
    height:50px;
    padding:0 5px;
    background-color: #f8f8f8;
}


.notice-write-confirm-box {
    margin-top: 20px;
    text-align: right;
}

.notice-write-confirm-box a{
    display: inline-block;
    border-radius: 5px;
    right:0;
    padding: 10px 15px;
    color:black;
    font-weight: bold;
    background-color:#eee;
}





